<p><b>1. Указываем кредитный лимит</b></p>
<div class="input-group">
  <input step="500" type="number" id="money" class="input-group-lg" placeholder="Кредитный лимит" min="500" (focusout)="setLimitToCookie()" [(ngModel)]="creditMoney">
  <div class="input-group-append">
    <span class="input-group-text">₴</span>
  </div>
</div>
<br>
<div class="image-upload" *ngIf="creditMoney">
  <label for="file-input">
    <p><b>2. Выбираем</b><i> long.xls </i><b>файл, который пришел на почту</b></p>
    <img src="https://png.pngtree.com/svg/20161019/file_xls_36368.png"/>
  </label>
  <input id="file-input" type="file" (change)="onFileChange($event)" multiple="false" />
</div>

<div *ngIf="allDatesAndSums.length > 0 && !errorMessage">
  <p><b>3. Выбирам первый день льготного периода</b> (можно посмотреть в приложении)</p>
  <input type="date" max="{{maxDate}}" min="{{minDate}}" class="input-group-lg" id="date" (change)="onDateChange($event)" value="{{firstDayUsingCredit}}"/>
</div>
<br>
<div id="result" *ngIf="allDatesAndDetailedSums.length && !errorMessage">
<div>
  На сегодня начисленно:
  <h1><p>{{allDatesAndDetailedSums[0].percentageSum | number: '1.0-2'}}₴</p></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th><th class="text-center">Дата</th><th class="text-center">Макс. задолженность/день</th><th class="text-center">Начислено за день</th><th class="text-center">Сумма начислений</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of allDatesAndDetailedSums; let i = index">
    <th scope="row">{{i+1}}</th><td class="text-center">{{row.rawDate}}</td><td class="text-center">{{row.owedSum | number: '1.0-2'}}₴</td><td class="text-center">{{row.percentagePerDay | number: '1.0-2'}}₴</td><td class="text-center">{{row.percentageSum | number: '1.0-2'}}₴</td>
  </tr>
  </tbody>
</table>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>
